{{ $images := .Page.Params.images }}
{{ with $images }}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

<div class="container page-top">
  <div class="row">
    {{ range $img := $images }}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="{{ $img | relURL }}" class="fancybox" rel="ligthbox">
        <img src="{{ $img | relURL }}" class="zoom img-fluid" alt="">
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ else }}
No images specified.
{{ end }}

<script>
  $(document).ready(function(){
  $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
});
</script>